:root {
  /* Typescales
  @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.78rem, calc(0.74rem + 0.19vw), 0.88rem);
  --step--1: clamp(0.94rem, calc(0.87rem + 0.32vw), 1.10rem);
  --step-0: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.38rem);
  --step-1: clamp(1.35rem, calc(1.21rem + 0.72vw), 1.72rem);
  --step-2: clamp(1.62rem, calc(1.41rem + 1.03vw), 2.15rem);
  --step-3: clamp(1.94rem, calc(1.65rem + 1.45vw), 2.69rem);
  --step-4: clamp(2.33rem, calc(1.93rem + 2.00vw), 3.36rem);
  --step-5: clamp(2.80rem, calc(2.25rem + 2.73vw), 4.20rem);

  /* Palette */
  --accent-1: #00adb4;
  --accent-1-light: #5cdfe7;
  --accent-1-dark: #007d85;
  --accent-2: #32c7b9;
  --accent-3: #61e0b8;
  --accent-4: #93f8b3;
}


/*Default */
* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}
img {
	max-width: 100%;
}


/* Layout */
body {
  display: grid;
  place-content: center;
  place-items: center;
  padding: 1rem;
	background: linear-gradient(45deg, var(--accent-1), var(--accent-2));
}
.logo {
	height: 100vh;
  aspect-ratio: 1/1;
}

/* Search */
.searchbar {
  position: relative;
  display: flex;
  width: clamp(17rem, 50vw, 45rem);
	border: 0;
  min-height: 3.5rem;
  border-radius: 100vh;
  background-color: black;
}
.searchbar > * {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.125rem 1.5rem;
  box-shadow: 2px 2px 10px rgba(0 0 0 / 25%);
  font-size: var(--step-0);
}
.searchbar__input {
  clip-path: polygon(0 0, 90% 0, 85% 100%, 0 100%);
  margin-right: 20%;
  padding: 0.25rem 1.5rem;
  border: 1px solid black;
  border-right: none;
  background-color: var(--accent-2);
  border-radius: 100vh 0 0 100vh;
}
.searchbar__button {
  clip-path: polygon(15% 0, 0 100%, 100% 100%, 100% 0);
  position: absolute;
  inset: 0 0 0 auto;
  border: 1px solid black;
  background-color: var(--accent-3);
	border-radius: 0 100vh 100vh 0;
  transition: background-color 300ms;
}
.searchbar__button:hover {
  background-color: var(--accent-4);
}

/* Résultats */
.output {
  max-width: 90%;
}
.output--empty {
  display: none;
}
