@charset "UTF-8";
/*
    cd C:\Users\eliot\OneDrive\Documents\Études\OC Informatique\Projet Python\WebStats\static\styles
    sass --watch style.scss style.css
*/
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=PT+Mono&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap");
:root {
  /* Typescales
    @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.78rem, calc(0.74rem + 0.19vw), 0.88rem);
  --step--1: clamp(0.94rem, calc(0.87rem + 0.32vw), 1.10rem);
  --step-0: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.38rem);
  --step-1: clamp(1.35rem, calc(1.21rem + 0.72vw), 1.72rem);
  --step-2: clamp(1.62rem, calc(1.41rem + 1.03vw), 2.15rem);
  --step-3: clamp(1.94rem, calc(1.65rem + 1.45vw), 2.69rem);
  --step-4: clamp(2.33rem, calc(1.93rem + 2.00vw), 3.36rem);
  --step-5: clamp(2.80rem, calc(2.25rem + 2.73vw), 4.20rem);
  --body-font: "Source Sans Pro", sans-serif;
  /* Palette */
  --inverted-surface: #333;
  --surface: #e6ffff;
  --accent-1: #00adb4;
  --accent-1-light: #5cdfe7;
  --accent-1-dark: #007d85;
  --accent-2: limegreen;
}

/*
*** Réglages par défaut
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

img {
  max-width: 100%;
}

/*
*** Éléments de page
*/
hr {
  border: none;
  background: var(--accent-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 1em;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

h3 {
  display: inline-block;
  color: transparent;
  background: var(--accent-2);
  -webkit-background-clip: text;
  background-clip: text;
}

/*
*** Comportement
*/
.html-scroller {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

section {
  scroll-snap-align: start;
}

/*
*** Layout
*/
body {
  padding: 1rem;
  background: linear-gradient(45deg, var(--accent-1), var(--accent-1-dark));
  color: white;
}

body,
section,
.searchbar__button,
.output-couvercle {
  display: grid;
  place-content: center;
  place-items: center;
}

section {
  min-height: 100vh;
}

.logo {
  max-width: 250px;
  margin-bottom: 2rem;
}

/*
*** Recherche
*/
.searchbar {
  position: relative;
  display: flex;
  width: clamp(17rem, 50vw, 45rem);
  min-height: 3.5rem;
  border: 1px solid black;
  border-radius: 100vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  color: var(--inverted-surface);
}
.searchbar > * {
  flex-grow: 1;
  flex-shrink: 1;
  border: none;
  font-size: var(--step-0);
  font-family: var(--body-font);
  color: var(--inverted-surface);
}
.searchbar__input {
  padding: 0.125rem 1.5rem;
  border-right: none;
  background-color: var(--surface);
  border-radius: 100vh;
}
.searchbar__button {
  clip-path: polygon(15% 0, 0 100%, 100% 100%, 100% 0);
  position: absolute;
  inset: 0 0 0 auto;
  min-width: 20%;
  padding: 0.125rem 0.5rem 0.125rem 1rem;
  border-radius: 0 100vh 100vh 0;
  font-weight: bold;
  transition: 300ms ease-in-out;
  /* Background animé */
  background: var(--accent-2);
  background-size: 120%;
  background-position: left;
  cursor: pointer;
}
.searchbar__button:hover {
  transform: scale(1.1);
}
.searchbar__button:hover, .searchbar__button:focus {
  background-position: right;
}
.searchbar__button:focus {
  transform: scale(1.05);
}

.error-message {
  margin: 1rem;
  color: red;
  font-size: var(--step--1);
  font-family: "PT Mono", monospace;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/*
*** Résultats
*/
.tabview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-inline: 7vw;
}
.tabview > h3 {
  margin: 0;
}
.tabview__tab {
  cursor: pointer;
  flex: 1 1 max(200px, 30vw);
  display: flex;
  position: relative;
  padding: 0.5rem 1rem 0.5rem 4rem;
  border: 2px solid var(--accent-2-1);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  /*Animation background*/
  background-size: 150%;
  background-position: left;
}
.tabview__tab__arrow {
  display: grid;
  place-content: center;
  place-items: center;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 220ms ease-in-out;
}
.tabview__tab__link {
  flex-grow: 1;
  flex-shrink: 1;
  background: inherit;
  color: inherit;
  text-decoration: inherit;
}
.tabview__tab:hover {
  background-position: right;
  transition: 210ms ease-in-out;
}

.output {
  position: relative;
  max-width: 90%;
  margin-inline: auto;
  padding: calc(0.8rem + 0.5vw) calc(1.25rem + 1vw);
  background-color: var(--surface);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: var(--inverted-surface);
  /* Défilement */
  max-height: 80vh;
  overflow: auto;
  scrollbar-color: var(--accent-2-1);
}
.output::-webkit-scrollbar-thumb {
  background: var(--accent-2);
}
.output-category__entry {
  padding: 0.75rem 0.5rem;
  font-size: var(--step-0);
  border-bottom: 1px solid var(--accent-2-1);
}
.output-category__entry:last-of-type {
  border-bottom: none;
}
.output-category__entry__firstline {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  place-items: center;
}
.output-category__entry__firstline__title {
  display: grid;
}
.output-category__entry__firstline__logo {
  place-self: end;
  max-width: 120px;
  aspect-ratio: 1/1;
  /*Alignement interne*/
  display: grid;
  place-content: center;
  place-items: center;
}
.output-category__entry__firstline__version {
  place-self: start;
  margin: 1rem 1.5rem;
  padding: 0.5rem 1rem;
  background: var(--accent-2);
  color: var(--inverted-surface);
}

.loading {
  display: grid;
  place-content: center;
  place-items: center;
  width: 300px;
  height: 300px;
  border-radius: 100vh;
}
.loading__ball {
  width: 80px;
  height: 80px;
  border-radius: 100vh;
}

/*
*** THÈME SOMBRE
*/
@media (prefers-color-scheme: dark) {
  :root {
    /*Palette sombre*/
    --inverted-surface: #f2f2f2;
    --surface: #0f0f0f;
    --accent-1: #00383a;
    --accent-1-light: #3e8385;
    --accent-1-dark: #171717;
    --accent-2-1: hsla(360, 86%, 67%, 1);
    --accent-2-2: hsla(303, 79%, 76%, 1);
    --accent-2: linear-gradient(90deg, var(--accent-2-1), var(--accent-2-2));
    /* https://coolors.co/gradient-maker/f292ed-f36364*/
  }

  body {
    background: var(--accent-1-dark);
  }

  .searchbar,
.output {
    border: 2px solid var(--accent-2-1);
  }

  .searchbar__button {
    color: var(--surface);
  }

  .output-category__entry {
    border-width: 2px;
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
